#flex-box {
 font-family: 'Grape Nuts', cursive;
 background-color: bisque;
 /* padding: 15px; */
 /* display flex; */
  display: flex;
  /* justify content: space-evenly; */
  flex-direction:column-reverse
  /* flex-direction:row; => theo chieu ngang  */
 /* flex-flow: row nowrap; */
}
.item {
    width: 800px;
    height: 100px;
    background-color: blueviolet;
    font-size: 50px;
    color: aliceblue;
  }