body {
    font-family: 'Segoe UI', Verdana, sans-serif;
    margin: 0 auto;
}

nav {
    width: 100%;
    background-color: black;
    height: 45px;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 15px 0;
}
nav a:hover {
    color: black;
    background-color: white;
}